[Unit]
Description = "Cloud SQL Proxy Daemon"
After = network.target
 
[Service]
ExecStart  = /usr/local/bin/cloud_sql_proxy -credential_file=/usr/local/bin/sa-key-cloud-sql-auth-proxy.json -instances=_YOUR_CLOUD_SQL_CONNECTION_NAME=tcp:0.0.0.0:3306
ExecStop   = /bin/kill ${MAINPID}
ExecReload = /bin/kill -HUP ${MAINPID}
Restart    = always
Type       = simple
# LimitNOFILE = 65536
 
[Install]
WantedBy = multi-user.target
